*{
    font-family: 'Courier New', Courier, monospace;
}

header{
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5em;
    background: linear-gradient(135deg, #003366, #000000, #004d00);
    width: 43%;
    margin-top: 15px;
    color: white;
    border-radius: 1em;
}

h1 {
    opactiy: 0.99;
}

form {
    background: linear-gradient(135deg, #004d00, #000000, #003366);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    max-width: 600px;
    width: 100%;
    padding: 2em;
    color: white; 
}

form {
    margin-bottom: 1emvh;
}

input {
    margin: .5em;
    padding: 0.3em;
    font-size: 1.2em;
    border-radius: 0.5em;
    border: 1px solid gray;
}

input:clicked {
    border-color: blue;
}

input[type="file"] {
    font-family: 'Courier New'; 
    font-size: 16px;             
}

button {
    padding: 0.5em;
    font-size: 1.3em;
    margin: 1em;
    width: 20%;
    border-radius: .5em;
    border: none;
    background-color: white;
}

button {
    position: center;
}

button:hover {
    background: linear-gradient(135deg, #004d00, #000000, #003366);
    color: white;
}

button:hover {
    trasition: 0.3s;
}

.personales {
    display: flex;
    flex-direction: column;
}

.personales label {
    line-height:;
}

input ~> label {
    color: red;
}
